*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 450px;
    width: 100%;
    background: linear-gradient(rgba(196,228,253,1)  ,rgba(255,255,255,0));
    position: relative;
}
.cloud{
     width: 103px;
     height: 30px;
     background-color: #fff;
     border: 1px solid #fff;
     border-radius: 50%;
     position: absolute;
     left: 40%;
     top:10%;
 }
.cloud:after{
    content: "";
    height: 29px;
    width: 46px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -15px;
    left: 48px;

}
.cloud:before{
    content: "";
    height: 36px;
    width: 46px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px;
    left: 13px;
    transform: rotate(7deg);
}
 #cloud2{
    transform: translate(250px,50px) scale(1.5);
    /*transform: scale(1.5);*/
    position: absolute;
}
#cloud3{
    transform: translate(83px,80px)scale(.9);
    /*transform: scale(1.5);*/
    position: absolute;
}
#cloud4{
    transform: translate(350px,90px) scale(.6);
    /*transform: scale(1.5);*/
    position: absolute;
}
#cloud5{
    transform: translate(500px,10px);
    /*transform: scale(1.5);*/
    position: absolute;
}
.grass{
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0) ,rgba(148,190,89,1));
}